spring:
  application:
    name: activityservice

  data:
    mongodb:
      uri: mongodb://localhost:27017
      database: aiactivityfitness

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 8082



logging:
  level:
    org.springframework.data.mongodb.core.MongoTemplate: DEBUG
